BASE_PATH=/studio
BLOG_STUDIO_BLOG_ROOT=/blog
BLOG_STUDIO_DATA_ROOT=/data
BLOG_STUDIO_SITE_NAME=My Hugo Blog
BLOG_STUDIO_ADMIN_PASSWORD_HASH=$argon2id$v=19$m=65536,t=3,p=2$replace_me
BLOG_STUDIO_SESSION_SECRET=replace-with-at-least-32-random-characters
BLOG_STUDIO_PREVIEW_TTL_MINUTES=120
BLOG_STUDIO_MAX_UPLOAD_MB=10
TWIKOO_DATA_PATH=/twikoo/db.json
WECHAT_APP_ID=
WECHAT_APP_SECRET=
